body{
    background-color:rgb(248, 157, 157);
}
div{
    width: 230px;
    height: 85px;
    background-color:orangered;
    border-radius: 20px;
}
div h1{
    font-size:28px ;
    color: white;

}
a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
#form{
background-color:rgb(255, 255, 255);
outline: none;
border: none;
color: orangered;
padding: 5px;
}
label{
    font-size: 25px;
    color: white;
}
span{
    color: white;
    font-size: 18px;
}
button{
    width:265px ;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-size: 25px;
    background-color:orangered ;
    color: white;
}
ol{
    width:225px ;
    background-color: orangered;
    color: white;
}
select{
    background-color: orangered;
    width: 265px;
    height: 30px;
    color: white;
    font-size: 20px;
    border:none;
}